a, h2, h5, p{
    font-family: 'Roboto Slab', serif;
}

.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 75vh;
}

.banner img{
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
}

h2{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    grid-auto-rows: 400px;
    justify-content: center;
}

.item_card{
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-width: 300px;
    box-shadow: 0px 15px 45px rgba(0,0,0,0.1);
    overflow-y: hidden;
}

.item_card img{
    height: 100%;
    width: 300px;
}

.logo.image{
    background-color: var(--secondary);
    position: relative;
}

.logo.image > *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.logo.image.sml > div > *{
    min-width: max-content;
    text-align: center;
}

.logo.image.sml > div > h1{
    font-size: 2rem;
}

.item_title{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: 100%
}

.item_details{
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

.item_details a{
    color: black;
    text-decoration: none;
}

.item_details h5{
    margin: auto;
    max-width: 7ch;
    font-weight: bold;
    text-align: center;
    color: var(--secondary);
    font-size: 1rem;
}

.item_details .initial{
    top: 25%;
}

.item_details .initial h5{
    margin-top: 20px;
}

.description{
    margin: 20px 5px 5px 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    width: 30ch;
}

.item_details .after{
    visibility: hidden;
    padding: 5px;
    position: absolute;  
    display: flex;
    top: 200px; 
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary);
    color: white;
}

#viewlisting{
    color: var(--secondary);
    margin: 5px;
    align-self: flex-end;
    color: white;
    font-weight: bold;
}

.category{
    display: flex;
    border-radius: 10px;
    background-color: var(--secondary);
    width: clamp(5ch, 10ch, 15ch);
    height: 30px;
    justify-content: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: 5px;
}

.category a{
    color: white;
    max-width: 15ch;
    text-overflow: ellipsis;
    overflow: hidden;
}

@keyframes slideup {
    from{
        top: 200px;
        visibility: hidden;
    }
    to{
        top: 0px;
        visibility: visible;
    }
}

.item_card:hover > .item_details .after{
    animation: slideup 0.3s ease-out forwards;    
}

.item_card:hover > .item_details .initial{
    animation: slideup 0.3s ease-out forwards;
}

