.watchlist{
    display: flex;
    justify-content: right;
    margin-right: 20px;
}

.watchlist input[type="submit"], .comments input[type="submit"]{
    border: none;
    background-color: var(--tertiary);
}

.container{
    display: grid;
    grid-template-columns: minmax(500px,2fr) minmax(300px,1fr);
    grid-template-rows: minmax(75vh,max-content);
    min-width: 100%;
    column-gap: 10px;
    grid-auto-flow: row;
    grid-auto-rows: 50vh;
    margin-top: 20px;

}


.product_image{
    min-width: 500px;
    max-width: 700px;
    margin: auto;
    height: 100%;
    aspect-ratio: 16/9;
}

.logo.image{
    background-color: var(--secondary);
    position: relative;
}

.logo.image div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    min-width: max-content;

}

.logo.image > h1{
    font-size: 1rem;
}

.shop_section{
    margin: auto;
    grid-column: 2 / auto;
    text-align: center;
}

.shop_section h4{
    font-weight: bold;
}

.shop_section > *{
    display: block;
}

.bid_data {
    min-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.description{
    margin: 20px auto 20px auto;
    padding: 10px 0px 10px 0px;
    width: 70%;
    border-bottom: 1px solid var(--secondary);
    border-top: 1px solid var(--secondary);
}

.description > h2,p{
    margin: 5px auto 5px auto;
    max-width: 65ch;
    text-align: center;
}


.comments h2{
    padding-top: 10px;
    display: block;
    text-align: center;
}

.comment-container{
    display: grid;
    grid-template-columns: 200px 2fr;
    grid-auto-rows: minmax(100px, max-content);
    width: 70vw;
    margin: 20px auto;
    box-shadow: 0px 15px 45px rgba(0,0,0,0.1);
}

.comments > form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    row-gap: 5px;
}

.comments > form > input[type="submit"]{
    max-width: 15ch;
    align-self: center;
}

.comment-container p{
    margin: 0px;
    padding: 5px;
    min-height: 100%;
    grid-column: 2 / span 2;
    text-align: left;
    min-width: 100%;

    background-color: rgba(0, 0, 0, 0.05);
}

.comment-container img{
    margin: auto;
    grid-column: 1;
    max-width: 100px;
    max-height: 100px;
    padding-left: auto;
    padding-right: 0px;
    /* object-fit: contain; */
}