{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

    <link rel="stylesheet" href="{% static 'listing/styles.css' %}">
    {% if user.is_authenticated %}
        {% if curr_user != item.creator %}
            <form action="{% url 'listing' item.id %}" method="POST" class="watchlist">
                {% csrf_token %}
                {% if watchlisted %}  
                    <input type="checkbox" name="removefromwatchlist" checked hidden>
                    <input type="submit" value="Remove From Watchlist">
                {% else %}
                    <input type="checkbox" name="addtowatchlist" checked hidden>
                    <input type="submit" value="Add To Watchlist">
                {% endif %}
            </form>
        {% endif %}
    {% endif %}
    <div class="container"> 
        
        {% if item.img_link %}
            <img class="product_image" src="{{ item.img_link }}">
        {% else %}
            <div class="logo image">
                    <div>
                        <h1>The Auctioneer</h1>
                        <p>No Image</p>
                    </div>
            </div>
        {% endif %}
        <div class="shop_section">

            <h4>{{ item.title }}</h4>
            <h6>Seller: {{ item.creator }}</h6><br>
            <div class="bid_data">
                <h5>Starting Bid: {{ item.starting_bid }}</h5>
                {% if highest_bid >= item.starting_bid %}
                    {% if user.is_authenticated %}
                        <h5>Last Bid Price: {{ highest_bid }}</h5>
                    {% endif %}
                {% else %}
                    <h5>No Bids Yet. Be the first</h5>
                {% endif %}
            </div>

            {% if item.active == True %}
                <form action="{% url 'listing' item.id %}" method="POST">
                    {% csrf_token %}
                    {% if curr_user == item.creator %}
                        <input type="checkbox" name="closeauction" checked hidden>
                        <input type="submit" value="Close Auction">
                    {% elif user.is_authenticated %}
                        {% if highest_bid >= item.starting_bid %}
                            <input type="number" name="bid" min="{{ highest_bid }}">
                        {% else %}
                            <input type="number" name="bid" min="{{ item.starting_bid }}">
                        {% endif %}
                        <input type="submit" value="Make Bid">
                    {% else %}
                        <a href="{% url 'login' %}">Login To Place Your Bid</a>
                    {% endif %}
                </form>
                <div class="description">
                    <h2>Description</h2>
                    <p>{{ item.description }}</p>
                </div>
            {% else %}

                {% if curr_user == highest_bid.bidder %}
                    <h2> You won the auction!!! </h2>
                {% endif %}
                
            {% endif %}
        </div>
    </div>
    <br>
    <div class="comments">
        <h2>Comments</h2>
        {% if user.is_authenticated %}
            <form action="{% url 'listing' item.id %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Add Comment">
            </form>
        {% endif %}
        {% for comment in comments %}
            <div class="comment-container">
                <img src="https://freesvg.org/img/abstract-user-flat-1.png" alt="user_icon">
                <p>{{ comment.comment }}</p>
            </div>
        {% endfor %}
    </div>
    <!-- <a href="">Add Comment</a> -->


{% endblock %}