{% extends "network/layout.html" %}
{% load static %}

{% block pageTitle%}All Posts{% endblock %}

{% block body %}
    <script src="{% static 'network/network.js' %}"></script>
    
    <div class="user-page">
        <div class="allPostsPage">
            <div id="newPost-container">
                <h3>Add New Post</h3>
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    {{ postForm }}
                    <input id="post-submit" type="submit" value="Post">
                </form>
            </div>
            <div id="allPosts">
                <!-- <div class="post">
                    {% if user.is_authenticated %}
                        <div class="edit">
                            <button id="editBtn">Edit</button>
                        </div>
                    {% endif %}
                    <div class="post-details">
                        <h5>{{post.user}}</h5>
                        <p>{{post.timestamp|date:"D d M Y"}}</p>
                    </div>
                    <p class="post-content">{{post.content}}</p>
    
                    <div class="likes">
                        <div id="like-counter">
                            <img src="#">
                            <p>{{post.likes.all|length}}</p>
                            <button id="likeBtn">Like</button>
                        </div>
                    </div>
                </div> -->
            </div>
            
            <div id="followingPosts" class="followerspost">
                {% for post in followersPosts %}
                    <div>
                        <h5>{{post.user}}</h5>
                        <p>{{post.timestamp|date:"D d M Y"}}</p>
                    </div>
                    <p>{{post.content}}</p>
                {% endfor %}
            </div>

        </div>
    </div>


    <!-- <link rel="stylesheet" href="{% static 'profile/styles.css'%}"> -->
    <!-- HTML for profile page -->

    <div class="profile-container">
        <!-- Use javascript to hide button if a user is on their own profile also to change Follow to Unfollow if the user already follows this profile -->
        <button class="followBtn">Follow</button>
        <h2 class="profile-username">{{profile.username}}</h2>
        <div class="profile-details">
            <p>Followers: <strong>{{profile.followers.all|length}}</strong></p>
            <a href="">Following: <strong>{{profile.userFollows.all|length}}</strong></a>
        </div>
        
        <!-- <div id="allPosts">
            <div class="profile post">
                {% for post in profile.posts.all %}
                    <div>
                        <h5>{{post.user}}</h5>
                        <p>{{post.timestamp|date:"D d M Y"}}</p>
                    </div>
                    <p>{{post.content}}</p>
                {% endfor %}
            </div>
        </div> -->
        
        <!-- Use javascript to display a page with posts made by all the users this profile follows -->
        <div class="following"></div>
    </div>
{% endblock %}