{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <script src="{% static 'network/network.js' %}"></script>
    
    <div class="user-page">
        <div class="allPostsPage">
            <div id="newPost-container">
                <h3>Add New Post</h3>
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    {{ postForm }}
                    <input id="post-submit" type="submit" value="Post">
                </form>
            </div>
            <div id="allPosts" class="all posts">
                <!-- Add Posts here -->
            </div>
            
            <div id="followingPosts" class="followers posts">
            </div>

            <div class="pagination-bar">
                <button class="previousBtn">Previous</button>
                <button class="nextBtn">Next</button>
            </div>
        </div>
    </div>

    <div class="profile-container">

        <button class="followBtn">Follow</button>
        <h2 class="profile-username">{{profile.username}}</h2>
        <div class="profile-details">
            <p>Followers: <strong>{{profile.followers.all|length}}</strong></p>
            <a href="">Following: <strong>{{profile.userFollows.all|length}}</strong></a>
        </div>
        
    </div>
{% endblock %}